[Unit]
Description=Disable hostapd after 30 minutes, if it was started
After=network.target hostapd.service
After=hostapd.service
Requisite=hostapd.service

[Timer]
OnActiveSec=5min

[Install]
WantedBy=timers.target